/* gray like colors */
/* yellow like colors */
/* margin, madding */
/* font-size */
/* line height */
/* gray like colors */
/* yellow like colors */
/* margin, madding */
/* font-size */
/* line height */
/* line 6, /vagrant/app/assets/stylesheets/customer/container.css.scss */
div#wrapper div#container h1 {
  margin: 0;
  padding: 9px 6px;
  font-size: 16px;
  font-weight: normal;
  background-color: #33331a;
  color: #eeeeee;
}
/* gray like colors */
/* yellow like colors */
/* margin, madding */
/* font-size */
/* line height */
/* line 4, /vagrant/app/assets/stylesheets/customer/layout.css.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 9, /vagrant/app/assets/stylesheets/customer/layout.css.scss */
div#wrapper {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: 48px;
  background-color: #cccccc;
}

/* line 17, /vagrant/app/assets/stylesheets/customer/layout.css.scss */
header {
  padding: 6px;
  background-color: #888844;
  color: #fafafa;
}
/* line 21, /vagrant/app/assets/stylesheets/customer/layout.css.scss */
header span.logo-mark {
  font-weight: bold;
}

/* line 26, /vagrant/app/assets/stylesheets/customer/layout.css.scss */
footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: #666666;
  color: #fafafa;
}
/* line 32, /vagrant/app/assets/stylesheets/customer/layout.css.scss */
footer p {
  text-align: center;
  padding: 6px;
  margin: 0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

