<% @title = 'Dashboard' %>
<h1><%= @title %></h1>

<ul class="menu">
	<li><%= link_to 'スタッフ管理', :admin_staff_members %></li>
	<li><%= link_to 'スタッフログイン・ログアウト記録', :admin_staff_events %></li>
	<li><%= link_to '許可IPアドレス管理', :admin_allowed_sources %></li>

</ul>

