/* gray like colors */

$dark_gray: #666666;
$gray: #cccccc;
$light_gray: #eeeeee;
$very_light_gray: #fafafa;

/* cyan like colors */

$dark_cyan: #448888;
$very_dark_cyan: darken($dark_cyan, 25%);

/* red colors */
$red: #cc0000;
$pink: #ffcccc;

/* green colors */
$green: #00cc00;

